// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TEST_MEDIA_SERVICES_RESTART = // -DTEST_MEDIA_SERVICES_RESTART
SHOW_INDEX_PATHS = -DSHOW_INDEX_PATHS
DEBUG_FLAGS = $(xTEST_MEDIA_SERVICES_RESTART) $(SHOW_INDEX_PATHS)

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited)
OTHER_SWIFT_FLAGS = $(inherited) -DDev $(TEST_MEDIA_SERVICES_RESTART) $(DEBUG_FLAGS)
NAME_SUFFIX = Dev
