// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Periodically force an AV media services restart sequence
TEST_MEDIA_SERVICES_RESTART = -DTEST_MEDIA_SERVICES_RESTART

// Show index paths in table views.
SHOW_INDEX_PATHS = -DSHOW_INDEX_PATHS

// Delay internal notifications of events. Helpful when checking for unexpected ordering dependencies between events.
DELAY_NOTIFICATIONS = -DDELAY_NOTIFICATIONS

// Play rendered samples in unit tests
PLAY_AUDIO = -DPLAY_AUDIO

// Show contents of events in internal render block
DEBUG_INTERNAL_RENDER_BLOCK = -DDEBUG_INTERNAL_RENDER_BLOCK

// All of the flags above. To disable one, just prepend an 'x' to its name.
DEBUG_FLAGS = $(xTEST_MEDIA_SERVICES_RESTART) $(xSHOW_INDEX_PATHS) $(xDELAY_NOTIFICATIONS) $(PLAY_AUDIO) $(xDEBUG_INTERNAL_RENDER_BLOCK)

NAME_SUFFIX = Dev
VOICE_COUNT = 64

// Use the SF2 engine for rendering when defined. NOTE: when defined this will disable the ability to use Apple's
// rendering engine.
ONLY_USE_SF2ENGINE_SYNTH = -DONLY_USE_SF2ENGINE_SYNTH

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited)
OTHER_SWIFT_FLAGS = $(inherited) -DDev $(DEBUG_FLAGS) $(xONLY_USE_SF2ENGINE_SYNTH) -DUSE_RANDOM_WORDS_1K

OTHER_CPLUSPLUSFLAGS = $(inherited) $(DEBUG_FLAGS)

OTHER_LDFLAGS = $(inherited)
